<div class="row">
  <div class="col-md-4">
    <h2>Add a new city</h2>
    <form action = "/city/new" class="control-group" method="post">
      <div class="form-group">
        <label for="city">Enter city name</label>
        <input type="text" name="city" id="city">
      </div>
      <button class="btn btn-info" type="submit">Add the city</button>
    </form>
  </div>
</div>
