<div class="row">
  <div class="col-md-8">
    <h2>All Current Routes</h2>
    <!-- loop to display routes -->
  <ul>
    <% if @schedule == nil %>
    <% else %>
      <% @schedule.each() do |each| %>
      <li> <%= each %> </li>
      <% end %>
    <% end %>
  </ul>





  </div>
  <div class="col-md-4">
    <h2>Add a new route</h2>
    <form action = "/routes/new" class="control-group" method="post">
      <label for="date">Enter the date</label>
      <input type="text" name="date" id="date">
      <div class="form-group">
        <select name="cities">
          <option value = "1">San Fransisco</option>
          <option value = "2">Houston</option>
          <option value = "3">New York</option>
        </select>
      </div>

      <div class="form-group">
        <select name="trains">
          <option value = "1">Red Line</option>
          <option value = "2">Blue Line</option>
          <option value = "3">Purple Line</option>
        </select>
      </div>
      <button class="btn btn-info" type="submit">Add the route</button>
    </form><br>
    <a href="/city/new" class="btn btn-success">Add a new city</a><br>
    <a href="/train/new" class="btn btn-success">Add a new train</a>
  </div>
</div>
